# Various IDEs and Editors
.vscode/
.idea/
**/*~

# Mac OSX temporary files
.DS_Store
**/.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# frontend code
node_modules/

# ESLint
.eslintcache
